﻿@* CSS because the site.scss file wasn't working *@
<style>
    #one {
        padding: 10px;
    }

    #musician {
        width: 100%;
    }

    #two {
        background-color: lightGray;
        height: 100vh;
    }

    .float-left {
        float: left;
    }

    .rating > span {
        display: inline-block;
        position: relative;
        width: 2.5em;
    }

    span {
        font-size: x-large;
    }
</style>
@* HTML for teacher info page *@
<div id="one" class="container col-xs-5">
    <div>
        <div class="col-xs-12 text-center">
            <img id="musician" src="~/images/Musician.jpg" class="img-rounded img-responsive" />
            <h1>First Name "<i><b>Nick Name</b></i>" Last Name</h1>
            <hr />
            <h2>$30.00/hour</h2>
            <div class="rating" id="stars">
                <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9734;</span>
            </div>
            <hr />
        </div>
        <div>
            <h3>Customer Feedback</h3>
            <p>Looks like a discount Enrique Inglesias <b>- First Customer 4&#9734;</b></p>
            <p>Beyond reasonable <b>- Second Customer 3&#9734;</b></p>
            <p>Loved him and his puppy <b>- Third Customer 5&#9734;</b></p>
            <p>Great tutor, little bit of a racist <b>- Fourth Customer 3&#9734;</b></p>
            <p>I've made a new friend <b>- Fifth Customer 5&#9734;</b></p>
            <hr />
        </div>
        <div class="text-center">
            <a href="#">More Info</a>
        </div>
    </div>    
</div>
<div id="two" class="container col-xs-7 text-center">
    <div class="jumbotron">
        <h1>MAP GOES HERE</h1>
    </div>
</div>